@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav" style="color: #FFF !important;">
    @{
        var session = HttpContextAccessor.HttpContext.Session;
        string email = session.GetString("Email");
        if (email != null)
        {
            if (session.GetString("Role") == "Admin")
            {
                <li>
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="" style="color: #FFF !important;">Hi, <strong>@email</strong></a>
                </li>
            }
            else
            {
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Details" asp-route-email="@email" style="color: #FFF !important;">Hi, <strong>@email</strong></a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Logout" style="color: #FFF !important;">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Login" style="color: #FFF !important;">Login</a>
            </li>
        }
    }
</ul>
